<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maybe123.dao.base.BysjProseBaseMapper">


    <insert id="insertBysjProse"  useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO `bysj_prose`
        (
        <trim suffixOverrides=",">
                    <if test="Id!=null">
                        `Id`,
                    </if>
                    <if test="prose_titl!=null">
                        `prose_titl`,
                    </if>
                    <if test="prose_time!=null">
                        `prose_time`,
                    </if>
                    <if test="prose_from!=null">
                        `prose_from`,
                    </if>
                    <if test="prose_author!=null">
                        `prose_author`,
                    </if>
                    <if test="prose_times!=null">
                        `prose_times`,
                    </if>
                    <if test="prose_content!=null">
                        `prose_content`,
                    </if>
                    <if test="prose_classify!=null">
                        `prose_classify`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="Id!=null">
                    #{Id},
                </if>
                <if test="prose_titl!=null">
                    #{prose_titl},
                </if>
                <if test="prose_time!=null">
                    #{prose_time},
                </if>
                <if test="prose_from!=null">
                    #{prose_from},
                </if>
                <if test="prose_author!=null">
                    #{prose_author},
                </if>
                <if test="prose_times!=null">
                    #{prose_times},
                </if>
                <if test="prose_content!=null">
                    #{prose_content},
                </if>
                <if test="prose_classify!=null">
                    #{prose_classify},
                </if>
        </trim>
        )
    </insert>




    <update id="updateBysjProse">
        UPDATE `bysj_prose`
        SET
        <trim suffixOverrides=",">
            <if test="prose_titl != null and prose_titl!=''">
                `prose_titl` = #{prose_titl},
            </if>
            <if test="prose_time != null and prose_time!=''">
                `prose_time` = #{prose_time},
            </if>
            <if test="prose_from != null and prose_from!=''">
                `prose_from` = #{prose_from},
            </if>
            <if test="prose_author != null and prose_author!=''">
                `prose_author` = #{prose_author},
            </if>
            <if test="prose_times != null">
                `prose_times` = #{prose_times},
            </if>
            <if test="prose_content != null and prose_content!=''">
                `prose_content` = #{prose_content},
            </if>
            <if test="prose_classify != null and prose_classify!=''">
                `prose_classify` = #{prose_classify},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `Id` = #{Id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `bysj_prose`
        SET
        <trim suffixOverrides=",">
        <if test="set.prose_titl != null and set.prose_titl!=''">
            `prose_titl` = #{set.prose_titl},
        </if>
        <if test="set.prose_time != null and set.prose_time!=''">
            `prose_time` = #{set.prose_time},
        </if>
        <if test="set.prose_from != null and set.prose_from!=''">
            `prose_from` = #{set.prose_from},
        </if>
        <if test="set.prose_author != null and set.prose_author!=''">
            `prose_author` = #{set.prose_author},
        </if>
        <if test="set.prose_times != null">
            `prose_times` = #{set.prose_times},
        </if>
        <if test="set.prose_content != null and set.prose_content!=''">
            `prose_content` = #{set.prose_content},
        </if>
        <if test="set.prose_classify != null and set.prose_classify!=''">
            `prose_classify` = #{set.prose_classify},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.IdList != null">
                    `Id` in
                    <foreach collection="where.IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.IdSt !=null">
                `Id` >= #{where.IdSt} and
            </if>
            <if test="where.IdEd!=null">
                `Id` &lt;= #{where.IdEd} and
            </if>
                <if test="where.prose_titlList != null">
                    `prose_titl` in
                    <foreach collection="where.prose_titlList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_titl!=null and where.fuzzyProse_titl.size()>0">
                (
                <foreach collection="where.fuzzyProse_titl"  separator="or" item="item">
                    `Prose_titl` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_titl!=null and where.rightFuzzyProse_titl.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_titl"  separator="or" item="item">
                    `Prose_titl` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.prose_timeList != null">
                    `prose_time` in
                    <foreach collection="where.prose_timeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_time!=null and where.fuzzyProse_time.size()>0">
                (
                <foreach collection="where.fuzzyProse_time"  separator="or" item="item">
                    `Prose_time` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_time!=null and where.rightFuzzyProse_time.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_time"  separator="or" item="item">
                    `Prose_time` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.prose_fromList != null">
                    `prose_from` in
                    <foreach collection="where.prose_fromList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_from!=null and where.fuzzyProse_from.size()>0">
                (
                <foreach collection="where.fuzzyProse_from"  separator="or" item="item">
                    `Prose_from` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_from!=null and where.rightFuzzyProse_from.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_from"  separator="or" item="item">
                    `Prose_from` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.prose_authorList != null">
                    `prose_author` in
                    <foreach collection="where.prose_authorList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_author!=null and where.fuzzyProse_author.size()>0">
                (
                <foreach collection="where.fuzzyProse_author"  separator="or" item="item">
                    `Prose_author` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_author!=null and where.rightFuzzyProse_author.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_author"  separator="or" item="item">
                    `Prose_author` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.prose_timesList != null">
                    `prose_times` in
                    <foreach collection="where.prose_timesList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.prose_timesSt !=null">
                `prose_times` >= #{where.prose_timesSt} and
            </if>
            <if test="where.prose_timesEd!=null">
                `prose_times` &lt;= #{where.prose_timesEd} and
            </if>
                <if test="where.prose_contentList != null">
                    `prose_content` in
                    <foreach collection="where.prose_contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_content!=null and where.fuzzyProse_content.size()>0">
                (
                <foreach collection="where.fuzzyProse_content"  separator="or" item="item">
                    `Prose_content` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_content!=null and where.rightFuzzyProse_content.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_content"  separator="or" item="item">
                    `Prose_content` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.prose_classifyList != null">
                    `prose_classify` in
                    <foreach collection="where.prose_classifyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyProse_classify!=null and where.fuzzyProse_classify.size()>0">
                (
                <foreach collection="where.fuzzyProse_classify"  separator="or" item="item">
                    `Prose_classify` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyProse_classify!=null and where.rightFuzzyProse_classify.size()>0">
                (
                <foreach collection="where.rightFuzzyProse_classify"  separator="or" item="item">
                    `Prose_classify` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="top.maybe123.pojo.BysjProse" id="BysjProseMap">
        <result property="Id" column="Id"/>
        <result property="prose_titl" column="prose_titl"/>
        <result property="prose_time" column="prose_time"/>
        <result property="prose_from" column="prose_from"/>
        <result property="prose_author" column="prose_author"/>
        <result property="prose_times" column="prose_times"/>
        <result property="prose_content" column="prose_content"/>
        <result property="prose_classify" column="prose_classify"/>
    </resultMap>


    <select id="queryBysjProse" resultMap="BysjProseMap">
        select
        <include refid="baseResult"></include>
        from  `bysj_prose`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="prose_titl != null and prose_titl!=''">
                `prose_titl` = #{prose_titl} and
            </if>
            <if test="prose_time != null and prose_time!=''">
                `prose_time` = #{prose_time} and
            </if>
            <if test="prose_from != null and prose_from!=''">
                `prose_from` = #{prose_from} and
            </if>
            <if test="prose_author != null and prose_author!=''">
                `prose_author` = #{prose_author} and
            </if>
            <if test="prose_times != null">
                `prose_times` = #{prose_times} and
            </if>
            <if test="prose_content != null and prose_content!=''">
                `prose_content` = #{prose_content} and
            </if>
            <if test="prose_classify != null and prose_classify!=''">
                `prose_classify` = #{prose_classify} and
            </if>
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjProse$QueryBuilder) == true">
                <if test="IdList != null">
                    `Id` in
                    <foreach collection="IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                <if test="prose_titlList != null">
                    `prose_titl` in
                    <foreach collection="prose_titlList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_titl!=null and fuzzyProse_titl.size()>0">
                    (
                    <foreach collection="fuzzyProse_titl"  separator="or" item="item">
                        `Prose_titl` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_titl!=null and rightFuzzyProse_titl.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_titl"  separator="or" item="item">
                        `Prose_titl` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="prose_timeList != null">
                    `prose_time` in
                    <foreach collection="prose_timeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_time!=null and fuzzyProse_time.size()>0">
                    (
                    <foreach collection="fuzzyProse_time"  separator="or" item="item">
                        `Prose_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_time!=null and rightFuzzyProse_time.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_time"  separator="or" item="item">
                        `Prose_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="prose_fromList != null">
                    `prose_from` in
                    <foreach collection="prose_fromList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_from!=null and fuzzyProse_from.size()>0">
                    (
                    <foreach collection="fuzzyProse_from"  separator="or" item="item">
                        `Prose_from` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_from!=null and rightFuzzyProse_from.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_from"  separator="or" item="item">
                        `Prose_from` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="prose_authorList != null">
                    `prose_author` in
                    <foreach collection="prose_authorList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_author!=null and fuzzyProse_author.size()>0">
                    (
                    <foreach collection="fuzzyProse_author"  separator="or" item="item">
                        `Prose_author` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_author!=null and rightFuzzyProse_author.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_author"  separator="or" item="item">
                        `Prose_author` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="prose_timesList != null">
                    `prose_times` in
                    <foreach collection="prose_timesList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="prose_timesSt !=null">
                    `prose_times` >= #{prose_timesSt} and
                </if>
                <if test="prose_timesEd!=null">
                    `prose_times` &lt;= #{prose_timesEd} and
                </if>
                <if test="prose_contentList != null">
                    `prose_content` in
                    <foreach collection="prose_contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_content!=null and fuzzyProse_content.size()>0">
                    (
                    <foreach collection="fuzzyProse_content"  separator="or" item="item">
                        `Prose_content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_content!=null and rightFuzzyProse_content.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_content"  separator="or" item="item">
                        `Prose_content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="prose_classifyList != null">
                    `prose_classify` in
                    <foreach collection="prose_classifyList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProse_classify!=null and fuzzyProse_classify.size()>0">
                    (
                    <foreach collection="fuzzyProse_classify"  separator="or" item="item">
                        `Prose_classify` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_classify!=null and rightFuzzyProse_classify.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_classify"  separator="or" item="item">
                        `Prose_classify` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryBysjProseLimit1" resultMap="BysjProseMap">
        select
        <include refid="baseResult"></include>
        from  `bysj_prose`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="prose_titl != null and prose_titl!=''">
                `prose_titl` = #{prose_titl} and
            </if>
            <if test="prose_time != null and prose_time!=''">
                `prose_time` = #{prose_time} and
            </if>
            <if test="prose_from != null and prose_from!=''">
                `prose_from` = #{prose_from} and
            </if>
            <if test="prose_author != null and prose_author!=''">
                `prose_author` = #{prose_author} and
            </if>
            <if test="prose_times != null">
                `prose_times` = #{prose_times} and
            </if>
            <if test="prose_content != null and prose_content!=''">
                `prose_content` = #{prose_content} and
            </if>
            <if test="prose_classify != null and prose_classify!=''">
                `prose_classify` = #{prose_classify} and
            </if>
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjProse$QueryBuilder) == true">
                    <if test="IdList != null">
                        `Id` in
                        <foreach collection="IdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                    <if test="prose_titlList != null">
                        `prose_titl` in
                        <foreach collection="prose_titlList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_titl!=null and fuzzyProse_titl.size()>0">
                    (
                    <foreach collection="fuzzyProse_titl"  separator="or" item="item">
                        `Prose_titl` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_titl!=null and rightFuzzyProse_titl.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_titl"  separator="or" item="item">
                        `Prose_titl` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="prose_timeList != null">
                        `prose_time` in
                        <foreach collection="prose_timeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_time!=null and fuzzyProse_time.size()>0">
                    (
                    <foreach collection="fuzzyProse_time"  separator="or" item="item">
                        `Prose_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_time!=null and rightFuzzyProse_time.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_time"  separator="or" item="item">
                        `Prose_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="prose_fromList != null">
                        `prose_from` in
                        <foreach collection="prose_fromList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_from!=null and fuzzyProse_from.size()>0">
                    (
                    <foreach collection="fuzzyProse_from"  separator="or" item="item">
                        `Prose_from` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_from!=null and rightFuzzyProse_from.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_from"  separator="or" item="item">
                        `Prose_from` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="prose_authorList != null">
                        `prose_author` in
                        <foreach collection="prose_authorList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_author!=null and fuzzyProse_author.size()>0">
                    (
                    <foreach collection="fuzzyProse_author"  separator="or" item="item">
                        `Prose_author` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_author!=null and rightFuzzyProse_author.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_author"  separator="or" item="item">
                        `Prose_author` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="prose_timesList != null">
                        `prose_times` in
                        <foreach collection="prose_timesList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="prose_timesSt !=null">
                    `prose_times` >= #{prose_timesSt} and
                </if>
                <if test="prose_timesEd!=null">
                    `prose_times` &lt;= #{prose_timesEd} and
                </if>
                    <if test="prose_contentList != null">
                        `prose_content` in
                        <foreach collection="prose_contentList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_content!=null and fuzzyProse_content.size()>0">
                    (
                    <foreach collection="fuzzyProse_content"  separator="or" item="item">
                        `Prose_content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_content!=null and rightFuzzyProse_content.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_content"  separator="or" item="item">
                        `Prose_content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="prose_classifyList != null">
                        `prose_classify` in
                        <foreach collection="prose_classifyList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProse_classify!=null and fuzzyProse_classify.size()>0">
                    (
                    <foreach collection="fuzzyProse_classify"  separator="or" item="item">
                        `Prose_classify` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProse_classify!=null and rightFuzzyProse_classify.size()>0">
                    (
                    <foreach collection="rightFuzzyProse_classify"  separator="or" item="item">
                        `Prose_classify` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `Id`,
        `prose_titl`,
        `prose_time`,
        `prose_from`,
        `prose_author`,
        `prose_times`,
        `prose_content`,
        `prose_classify`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjProse$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.Id==true">
                        `Id`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_titl==true">
                        `prose_titl`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_time==true">
                        `prose_time`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_from==true">
                        `prose_from`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_author==true">
                        `prose_author`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_times==true">
                        `prose_times`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_content==true">
                        `prose_content`,
                    </if>
                    <if test="fetchFields.fetchFields.prose_classify==true">
                        `prose_classify`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.Id==null">
                        `Id`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_titl==null">
                        `prose_titl`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_time==null">
                        `prose_time`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_from==null">
                        `prose_from`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_author==null">
                        `prose_author`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_times==null">
                        `prose_times`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_content==null">
                        `prose_content`,
                    </if>
                    <if test="fetchFields.excludeFields.prose_classify==null">
                        `prose_classify`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof top.maybe123.pojo.BysjProse$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>