<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maybe123.dao.base.BysjCommentBaseMapper">


    <insert id="insertBysjComment"  useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO `bysj_comment`
        (
        <trim suffixOverrides=",">
                    <if test="Id!=null">
                        `Id`,
                    </if>
                    <if test="comment_person!=null">
                        `comment_person`,
                    </if>
                    <if test="comment_src!=null">
                        `comment_src`,
                    </if>
                    <if test="comment_content!=null">
                        `comment_content`,
                    </if>
                    <if test="comment_times!=null">
                        `comment_times`,
                    </if>
                    <if test="comment_title!=null">
                        `comment_title`,
                    </if>
                    <if test="comment_date!=null">
                        `comment_date`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="Id!=null">
                    #{Id},
                </if>
                <if test="comment_person!=null">
                    #{comment_person},
                </if>
                <if test="comment_src!=null">
                    #{comment_src},
                </if>
                <if test="comment_content!=null">
                    #{comment_content},
                </if>
                <if test="comment_times!=null">
                    #{comment_times},
                </if>
                <if test="comment_title!=null">
                    #{comment_title},
                </if>
                <if test="comment_date!=null">
                    #{comment_date},
                </if>
        </trim>
        )
    </insert>




    <update id="updateBysjComment">
        UPDATE `bysj_comment`
        SET
        <trim suffixOverrides=",">
            <if test="comment_person != null and comment_person!=''">
                `comment_person` = #{comment_person},
            </if>
            <if test="comment_src != null and comment_src!=''">
                `comment_src` = #{comment_src},
            </if>
            <if test="comment_content != null and comment_content!=''">
                `comment_content` = #{comment_content},
            </if>
            <if test="comment_times != null">
                `comment_times` = #{comment_times},
            </if>
            <if test="comment_title != null and comment_title!=''">
                `comment_title` = #{comment_title},
            </if>
            <if test="comment_date != null and comment_date!=''">
                `comment_date` = #{comment_date},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `Id` = #{Id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `bysj_comment`
        SET
        <trim suffixOverrides=",">
        <if test="set.comment_person != null and set.comment_person!=''">
            `comment_person` = #{set.comment_person},
        </if>
        <if test="set.comment_src != null and set.comment_src!=''">
            `comment_src` = #{set.comment_src},
        </if>
        <if test="set.comment_content != null and set.comment_content!=''">
            `comment_content` = #{set.comment_content},
        </if>
        <if test="set.comment_times != null">
            `comment_times` = #{set.comment_times},
        </if>
        <if test="set.comment_title != null and set.comment_title!=''">
            `comment_title` = #{set.comment_title},
        </if>
        <if test="set.comment_date != null and set.comment_date!=''">
            `comment_date` = #{set.comment_date},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.IdList != null">
                    `Id` in
                    <foreach collection="where.IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.IdSt !=null">
                `Id` >= #{where.IdSt} and
            </if>
            <if test="where.IdEd!=null">
                `Id` &lt;= #{where.IdEd} and
            </if>
                <if test="where.comment_personList != null">
                    `comment_person` in
                    <foreach collection="where.comment_personList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyComment_person!=null and where.fuzzyComment_person.size()>0">
                (
                <foreach collection="where.fuzzyComment_person"  separator="or" item="item">
                    `Comment_person` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyComment_person!=null and where.rightFuzzyComment_person.size()>0">
                (
                <foreach collection="where.rightFuzzyComment_person"  separator="or" item="item">
                    `Comment_person` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.comment_srcList != null">
                    `comment_src` in
                    <foreach collection="where.comment_srcList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyComment_src!=null and where.fuzzyComment_src.size()>0">
                (
                <foreach collection="where.fuzzyComment_src"  separator="or" item="item">
                    `Comment_src` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyComment_src!=null and where.rightFuzzyComment_src.size()>0">
                (
                <foreach collection="where.rightFuzzyComment_src"  separator="or" item="item">
                    `Comment_src` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.comment_contentList != null">
                    `comment_content` in
                    <foreach collection="where.comment_contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyComment_content!=null and where.fuzzyComment_content.size()>0">
                (
                <foreach collection="where.fuzzyComment_content"  separator="or" item="item">
                    `Comment_content` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyComment_content!=null and where.rightFuzzyComment_content.size()>0">
                (
                <foreach collection="where.rightFuzzyComment_content"  separator="or" item="item">
                    `Comment_content` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.comment_timesList != null">
                    `comment_times` in
                    <foreach collection="where.comment_timesList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.comment_timesSt !=null">
                `comment_times` >= #{where.comment_timesSt} and
            </if>
            <if test="where.comment_timesEd!=null">
                `comment_times` &lt;= #{where.comment_timesEd} and
            </if>
                <if test="where.comment_titleList != null">
                    `comment_title` in
                    <foreach collection="where.comment_titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyComment_title!=null and where.fuzzyComment_title.size()>0">
                (
                <foreach collection="where.fuzzyComment_title"  separator="or" item="item">
                    `Comment_title` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyComment_title!=null and where.rightFuzzyComment_title.size()>0">
                (
                <foreach collection="where.rightFuzzyComment_title"  separator="or" item="item">
                    `Comment_title` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.comment_dateList != null">
                    `comment_date` in
                    <foreach collection="where.comment_dateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyComment_date!=null and where.fuzzyComment_date.size()>0">
                (
                <foreach collection="where.fuzzyComment_date"  separator="or" item="item">
                    `Comment_date` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyComment_date!=null and where.rightFuzzyComment_date.size()>0">
                (
                <foreach collection="where.rightFuzzyComment_date"  separator="or" item="item">
                    `Comment_date` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="top.maybe123.pojo.BysjComment" id="BysjCommentMap">
        <result property="Id" column="Id"/>
        <result property="comment_person" column="comment_person"/>
        <result property="comment_src" column="comment_src"/>
        <result property="comment_content" column="comment_content"/>
        <result property="comment_times" column="comment_times"/>
        <result property="comment_title" column="comment_title"/>
        <result property="comment_date" column="comment_date"/>
    </resultMap>


    <select id="queryBysjComment" resultMap="BysjCommentMap">
        select
        <include refid="baseResult"></include>
        from  `bysj_comment`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="comment_person != null and comment_person!=''">
                `comment_person` = #{comment_person} and
            </if>
            <if test="comment_src != null and comment_src!=''">
                `comment_src` = #{comment_src} and
            </if>
            <if test="comment_content != null and comment_content!=''">
                `comment_content` = #{comment_content} and
            </if>
            <if test="comment_times != null">
                `comment_times` = #{comment_times} and
            </if>
            <if test="comment_title != null and comment_title!=''">
                `comment_title` = #{comment_title} and
            </if>
            <if test="comment_date != null and comment_date!=''">
                `comment_date` = #{comment_date} and
            </if>
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjComment$QueryBuilder) == true">
                <if test="IdList != null">
                    `Id` in
                    <foreach collection="IdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                <if test="comment_personList != null">
                    `comment_person` in
                    <foreach collection="comment_personList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyComment_person!=null and fuzzyComment_person.size()>0">
                    (
                    <foreach collection="fuzzyComment_person"  separator="or" item="item">
                        `Comment_person` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_person!=null and rightFuzzyComment_person.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_person"  separator="or" item="item">
                        `Comment_person` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="comment_srcList != null">
                    `comment_src` in
                    <foreach collection="comment_srcList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyComment_src!=null and fuzzyComment_src.size()>0">
                    (
                    <foreach collection="fuzzyComment_src"  separator="or" item="item">
                        `Comment_src` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_src!=null and rightFuzzyComment_src.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_src"  separator="or" item="item">
                        `Comment_src` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="comment_contentList != null">
                    `comment_content` in
                    <foreach collection="comment_contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyComment_content!=null and fuzzyComment_content.size()>0">
                    (
                    <foreach collection="fuzzyComment_content"  separator="or" item="item">
                        `Comment_content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_content!=null and rightFuzzyComment_content.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_content"  separator="or" item="item">
                        `Comment_content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="comment_timesList != null">
                    `comment_times` in
                    <foreach collection="comment_timesList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="comment_timesSt !=null">
                    `comment_times` >= #{comment_timesSt} and
                </if>
                <if test="comment_timesEd!=null">
                    `comment_times` &lt;= #{comment_timesEd} and
                </if>
                <if test="comment_titleList != null">
                    `comment_title` in
                    <foreach collection="comment_titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyComment_title!=null and fuzzyComment_title.size()>0">
                    (
                    <foreach collection="fuzzyComment_title"  separator="or" item="item">
                        `Comment_title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_title!=null and rightFuzzyComment_title.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_title"  separator="or" item="item">
                        `Comment_title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="comment_dateList != null">
                    `comment_date` in
                    <foreach collection="comment_dateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyComment_date!=null and fuzzyComment_date.size()>0">
                    (
                    <foreach collection="fuzzyComment_date"  separator="or" item="item">
                        `Comment_date` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_date!=null and rightFuzzyComment_date.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_date"  separator="or" item="item">
                        `Comment_date` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        order by `Id` desc
     limit 11
    </select>

    <select id="queryBysjCommentLimit1" resultMap="BysjCommentMap">
        select
        <include refid="baseResult"></include>
        from  `bysj_comment`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="Id != null">
                `Id` = #{Id} and
            </if>
            <if test="comment_person != null and comment_person!=''">
                `comment_person` = #{comment_person} and
            </if>
            <if test="comment_src != null and comment_src!=''">
                `comment_src` = #{comment_src} and
            </if>
            <if test="comment_content != null and comment_content!=''">
                `comment_content` = #{comment_content} and
            </if>
            <if test="comment_times != null">
                `comment_times` = #{comment_times} and
            </if>
            <if test="comment_title != null and comment_title!=''">
                `comment_title` = #{comment_title} and
            </if>
            <if test="comment_date != null and comment_date!=''">
                `comment_date` = #{comment_date} and
            </if>
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjComment$QueryBuilder) == true">
                    <if test="IdList != null">
                        `Id` in
                        <foreach collection="IdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="IdSt !=null">
                    `Id` >= #{IdSt} and
                </if>
                <if test="IdEd!=null">
                    `Id` &lt;= #{IdEd} and
                </if>
                    <if test="comment_personList != null">
                        `comment_person` in
                        <foreach collection="comment_personList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyComment_person!=null and fuzzyComment_person.size()>0">
                    (
                    <foreach collection="fuzzyComment_person"  separator="or" item="item">
                        `Comment_person` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_person!=null and rightFuzzyComment_person.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_person"  separator="or" item="item">
                        `Comment_person` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="comment_srcList != null">
                        `comment_src` in
                        <foreach collection="comment_srcList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyComment_src!=null and fuzzyComment_src.size()>0">
                    (
                    <foreach collection="fuzzyComment_src"  separator="or" item="item">
                        `Comment_src` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_src!=null and rightFuzzyComment_src.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_src"  separator="or" item="item">
                        `Comment_src` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="comment_contentList != null">
                        `comment_content` in
                        <foreach collection="comment_contentList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyComment_content!=null and fuzzyComment_content.size()>0">
                    (
                    <foreach collection="fuzzyComment_content"  separator="or" item="item">
                        `Comment_content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_content!=null and rightFuzzyComment_content.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_content"  separator="or" item="item">
                        `Comment_content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="comment_timesList != null">
                        `comment_times` in
                        <foreach collection="comment_timesList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="comment_timesSt !=null">
                    `comment_times` >= #{comment_timesSt} and
                </if>
                <if test="comment_timesEd!=null">
                    `comment_times` &lt;= #{comment_timesEd} and
                </if>
                    <if test="comment_titleList != null">
                        `comment_title` in
                        <foreach collection="comment_titleList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyComment_title!=null and fuzzyComment_title.size()>0">
                    (
                    <foreach collection="fuzzyComment_title"  separator="or" item="item">
                        `Comment_title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_title!=null and rightFuzzyComment_title.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_title"  separator="or" item="item">
                        `Comment_title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="comment_dateList != null">
                        `comment_date` in
                        <foreach collection="comment_dateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyComment_date!=null and fuzzyComment_date.size()>0">
                    (
                    <foreach collection="fuzzyComment_date"  separator="or" item="item">
                        `Comment_date` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyComment_date!=null and rightFuzzyComment_date.size()>0">
                    (
                    <foreach collection="rightFuzzyComment_date"  separator="or" item="item">
                        `Comment_date` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `Id`,
        `comment_person`,
        `comment_src`,
        `comment_content`,
        `comment_times`,
        `comment_title`,
        `comment_date`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof top.maybe123.pojo.BysjComment$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.Id==true">
                        `Id`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_person==true">
                        `comment_person`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_src==true">
                        `comment_src`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_content==true">
                        `comment_content`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_times==true">
                        `comment_times`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_title==true">
                        `comment_title`,
                    </if>
                    <if test="fetchFields.fetchFields.comment_date==true">
                        `comment_date`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.Id==null">
                        `Id`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_person==null">
                        `comment_person`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_src==null">
                        `comment_src`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_content==null">
                        `comment_content`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_times==null">
                        `comment_times`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_title==null">
                        `comment_title`,
                    </if>
                    <if test="fetchFields.excludeFields.comment_date==null">
                        `comment_date`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof top.maybe123.pojo.BysjComment$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>